<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToonHUD_Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToonHUD_Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToonHUD_Updater.Properties.Settings>
            <setting name="checkedVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="installedVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="customFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="url_ToonHUD_1" serializeAs="String">
                <value />
            </setting>
            <setting name="url_ToonHUD_2" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedHudVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedAspectRatio" serializeAs="String">
                <value />
            </setting>
            <setting name="enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fixSmallerKillfeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixSmallerDamageIndicator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixScoreboard24Players" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixShowButtonEffectClassSelection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixHideClassImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixNoHitmarker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixDisguiseAnimation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteMOTD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixHealthCrossCross" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fixHealthCrossCircle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixHealthCrossBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixHealthCrossDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fontMode" serializeAs="String">
                <value />
            </setting>
            <setting name="primaryFont" serializeAs="String">
                <value />
            </setting>
            <setting name="secondaryFont" serializeAs="String">
                <value />
            </setting>
            <setting name="primaryFontHugeTall" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="primaryFontBigTall" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="primaryFontMediumTall" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="primaryFontSmallTall" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="primaryFontTinyTall" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="secondaryFontHugeTall" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="secondaryFontBigTall" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="secondaryFontMediumTall" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="secondaryFontSmallTall" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="secondaryFontTinyTall" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="fixLastDamageDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="opacityTextShadow" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="settingsChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="aspectRatio43" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="url_ToonHUD_3" serializeAs="String">
                <value />
            </setting>
            <setting name="url_ToonHUD_4" serializeAs="String">
                <value />
            </setting>
            <setting name="fixTopLeftChat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="aspectRatio1610" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixBrightSide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixRemoveShine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixCenteredUbercharge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixStickybombCounter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixCustomTargetID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixCustomTargetHealth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixPowerMeter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixDemomanCharge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixClassImageNextToHealth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixSideProfileClassModel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixHideHealthBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixSmallHealthBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixBigHealthBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixHealthCrossSquare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixOverhealDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixOverhealCross" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fixOverhealBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixOverhealCircle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixOverhealSquare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixOverhealBlot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixOverhealHeart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixOverhealFlower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixOverhealStar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixMadMilkMeter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorToonhud" serializeAs="String">
                <value />
            </setting>
            <setting name="colorHeal" serializeAs="String">
                <value />
            </setting>
            <setting name="colorHit" serializeAs="String">
                <value />
            </setting>
            <setting name="colorChat" serializeAs="String">
                <value />
            </setting>
            <setting name="colorHealthValue" serializeAs="String">
                <value />
            </setting>
            <setting name="colorOverhealedHealthValue" serializeAs="String">
                <value />
            </setting>
            <setting name="colorLowHealthValue" serializeAs="String">
                <value />
            </setting>
            <setting name="colorWarning" serializeAs="String">
                <value />
            </setting>
            <setting name="colorClip" serializeAs="String">
                <value />
            </setting>
            <setting name="colorReserve" serializeAs="String">
                <value />
            </setting>
            <setting name="colorKillfeedDark" serializeAs="String">
                <value />
            </setting>
            <setting name="colorKillfeedLight" serializeAs="String">
                <value />
            </setting>
            <setting name="colorOuterBorder" serializeAs="String">
                <value />
            </setting>
            <setting name="colorInnerBorder" serializeAs="String">
                <value />
            </setting>
            <setting name="colorTransparentMenu" serializeAs="String">
                <value />
            </setting>
            <setting name="colorHeadCounter" serializeAs="String">
                <value />
            </setting>
            <setting name="colorMetal" serializeAs="String">
                <value />
            </setting>
            <setting name="colorKillstreak" serializeAs="String">
                <value />
            </setting>
            <setting name="colorSticky" serializeAs="String">
                <value />
            </setting>
            <setting name="colorHeadCounterIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="colorMetalIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="colorKillstreakIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="colorStickyIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="opacityKillfeedDark" serializeAs="String">
                <value>230</value>
            </setting>
            <setting name="opacityKillfeedLight" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="opacityOuterBorder" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="opacityInnerBorder" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="opacityTransparentMenu" serializeAs="String">
                <value>252</value>
            </setting>
            <setting name="deleteClassSelection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteTeamMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteMainMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteSourceScheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteControlPointIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteMapInfoMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteIntroMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteCustomMaterials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteMenus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="healthCrossGrow" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="healthCrossWarningPercent" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="fixFontCrosshair" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixFontCrosshairShadow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixFontHitmarker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixImageHitmarker" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="crosshairCharacter" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="crosshairShadowCharacter" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="hitmarkerCharacter" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="colorCrosshair" serializeAs="String">
                <value />
            </setting>
            <setting name="colorCrosshairShadow" serializeAs="String">
                <value />
            </setting>
            <setting name="colorHitmarker" serializeAs="String">
                <value />
            </setting>
            <setting name="opacityCrosshair" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="opacityCrosshairShadow" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="opacityHitmarker" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="crosshairTall" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="crosshairShadowTall" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="hitmarkerTall" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="damageAccountNormalSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="damageAccountCritSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="damageAccountCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="damageAccountFont" serializeAs="String">
                <value />
            </setting>
            <setting name="damageAccountOutline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fixOverhealHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixCrosshairShadowBlur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="colorPanel" serializeAs="String">
                <value />
            </setting>
            <setting name="opacityPanel" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="fixMoneyScout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="damageAccountCritOutline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="damageAccountCritFont" serializeAs="String">
                <value />
            </setting>
            <setting name="colorCenteredUberchargeMeterBg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="colorCenteredMetalBg" serializeAs="String">
                <value>60, 60, 60</value>
            </setting>
            <setting name="opacityCenteredUberchargeMeterBg" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="opacityCenteredMetalBg" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="fixCenteredMetal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixBookmark1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixBookmark2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixBookmark3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fixBookmark4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bookmark1name" serializeAs="String">
                <value />
            </setting>
            <setting name="bookmark2name" serializeAs="String">
                <value />
            </setting>
            <setting name="bookmark3name" serializeAs="String">
                <value />
            </setting>
            <setting name="bookmark4name" serializeAs="String">
                <value />
            </setting>
            <setting name="bookmark1command" serializeAs="String">
                <value />
            </setting>
            <setting name="bookmark2command" serializeAs="String">
                <value />
            </setting>
            <setting name="bookmark3command" serializeAs="String">
                <value />
            </setting>
            <setting name="bookmark4command" serializeAs="String">
                <value />
            </setting>
            <setting name="fixRemoveMainMenuCharacter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteVotePanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorCustomTargetIdBg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="opacityCustomTargetIdBg" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="deleteClosedCaptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closedCaptionsCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closedCaptionsFont" serializeAs="String">
                <value />
            </setting>
            <setting name="closedCaptionsFontSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="closedCaptionsFontOutline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="killfeedCornerRadius" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="killfeedLineHeight" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="killfeedLineSpacing" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="killfeedFontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="killfeedFontWeight" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="killfeedCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="killfeedDeathNotices" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="killfeedFont" serializeAs="String">
                <value />
            </setting>
            <setting name="killfeedFontAntialias" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="colorKillfeedRed" serializeAs="String">
                <value>243, 82, 82</value>
            </setting>
            <setting name="colorKillfeedBlue" serializeAs="String">
                <value>83, 155, 242</value>
            </setting>
            <setting name="colorKillfeedIcon" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="killfeedXpos" serializeAs="String">
                <value>r640</value>
            </setting>
            <setting name="killfeedYpos" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="colorMainMenuButton" serializeAs="String">
                <value>41, 37, 38</value>
            </setting>
            <setting name="colorMainMenuButtonHover" serializeAs="String">
                <value>41, 37, 38</value>
            </setting>
            <setting name="colorMainMenuOverlay" serializeAs="String">
                <value>17, 196, 255</value>
            </setting>
            <setting name="opacityMainMenuButton" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="opacityMainMenuButtonHover" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="opacityMainMenuOverlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorIQCNormal" serializeAs="String">
                <value>178, 178, 178</value>
            </setting>
            <setting name="colorIQCUnique" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="colorIQCCollectors" serializeAs="String">
                <value>170, 0, 0</value>
            </setting>
            <setting name="colorIQCHaunted" serializeAs="String">
                <value>56, 243, 171</value>
            </setting>
            <setting name="colorIQCValve" serializeAs="String">
                <value>165, 15, 121</value>
            </setting>
            <setting name="colorIQCStrange" serializeAs="String">
                <value>207, 106, 50</value>
            </setting>
            <setting name="colorIQCVintage" serializeAs="String">
                <value>71, 98, 145</value>
            </setting>
            <setting name="colorIQCCommunity" serializeAs="String">
                <value>112, 176, 74</value>
            </setting>
            <setting name="colorIQCGenuine" serializeAs="String">
                <value>77, 116, 85</value>
            </setting>
            <setting name="colorIQCUnusual" serializeAs="String">
                <value>134, 80, 172</value>
            </setting>
            <setting name="deleteMMQuickplayPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteMMTrainingPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deletePopupNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorBackpackItemBg" serializeAs="String">
                <value />
            </setting>
            <setting name="colorButtonBg" serializeAs="String">
                <value />
            </setting>
            <setting name="colorButtonHoverBg" serializeAs="String">
                <value />
            </setting>
            <setting name="colorButtonText" serializeAs="String">
                <value />
            </setting>
            <setting name="colorButtonHoverText" serializeAs="String">
                <value />
            </setting>
            <setting name="colorMenuBg" serializeAs="String">
                <value />
            </setting>
            <setting name="colorFooterBg" serializeAs="String">
                <value />
            </setting>
            <setting name="opacityBackpackItemBg" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="teamIndicator" serializeAs="String">
                <value />
            </setting>
            <setting name="colorLoadoutItemBg" serializeAs="String">
                <value />
            </setting>
            <setting name="opacityLoadoutItemBg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="deleteScoreboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorSourceSchemeBg" serializeAs="String">
                <value />
            </setting>
            <setting name="colorMenuText" serializeAs="String">
                <value />
            </setting>
            <setting name="colorItemDescriptionPanelBg" serializeAs="String">
                <value />
            </setting>
            <setting name="colorSourceSchemeText" serializeAs="String">
                <value />
            </setting>
            <setting name="colorSourceSchemeSelectedText" serializeAs="String">
                <value />
            </setting>
            <setting name="transparentViewmodels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hitmarkerFadeoutTime" serializeAs="String">
                <value>950</value>
            </setting>
        </ToonHUD_Updater.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ToonHUD_Updater.Properties.Settings>
            <setting name="dataFolder" serializeAs="String">
                <value>data</value>
            </setting>
            <setting name="settingsFile" serializeAs="String">
                <value>settings.txt</value>
            </setting>
            <setting name="baseurl" serializeAs="String">
                <value>http://toonhud.com/</value>
            </setting>
        </ToonHUD_Updater.Properties.Settings>
    </applicationSettings>
</configuration>