<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Self_Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Self_Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Self_Updater.Properties.Settings>
            <setting name="downloadServer1" serializeAs="String">
                <value />
            </setting>
            <setting name="downloadServer2" serializeAs="String">
                <value />
            </setting>
            <setting name="checkedVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="installedVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="downloadServer3" serializeAs="String">
                <value />
            </setting>
            <setting name="downloadServer4" serializeAs="String">
                <value />
            </setting>
        </Self_Updater.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Self_Updater.Properties.Settings>
            <setting name="settingsFile" serializeAs="String">
                <value>http://toonhud.com/settings.txt</value>
            </setting>
        </Self_Updater.Properties.Settings>
    </applicationSettings>
</configuration>